/* CSS declarations go here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}
.thumbnail {
  width: 200px;
  height: auto;
}

div.content img {
    position: absolute;
}

